.container {
  display: flex;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 10px;
  margin: 5px;

  color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.button:hover {
  background-color: #ff7f50;
}

.button:active {
  transform: scale(0.9);
}

.button:disabled {
  background-color: darkolivegreen;
  cursor: not-allowed;
}

.ellipsis {
  padding: 6px;
}
