.container {
  margin-top: 50px;
}

.title {
  margin: 50px 0px;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.categoriesSlider {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  scroll-behavior: smooth;
  cursor: grab;
  padding: 10px 0;
  border: #57c4ff31;
}

.categoriesSlider::-webkit-scrollbar {
  display: none;
}

.categoriesSlider:active {
  cursor: grabbing;
}
.categories {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: max-content;
  padding: 10px 5px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 200px;
  min-width: 200px;
  height: 80px;
  justify-content: center;
  border-radius: 25px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  background-color: #57c4ff31;
}

.category:hover {
  transform: translateY(-5px); /* 호버 시 살짝 위로 이동 */
}

.image {
  border-radius: 50%;
}

.navButton {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navButton:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* 왼쪽 버튼 */
.navButton:first-child {
  left: -20px;
}

.navButton:last-child {
  right: -20px;
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.menuButton {
  position: relative;
  border: none;
  background-color: transparent;
  color: darkgray;
  cursor: pointer;
}

.menuWrapper {
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu button {
  display: block;
  width: 100px;
  padding: 8px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu button:hover {
  background: #f5f5f5;
}

.deleteButton {
  color: red;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 10%;
  }
  .navButton {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 640px) {
  .navButton {
    display: none;
  }
  .category {
    min-width: 100px;
  }
}
